$primary-light-color: #8278da;
$primary-dark-color: #121c84;

$light-green-color: #7be480;

$dark-green-color: #329d9c;

$light-orange-color: #ffb900;
$dark-orange-color: #ff7730;

$light-blue-color: #4ca9df;
$dark-blue-color: #292e91;

$light-grey-color: #f7f7f7;
$dark-grey-color: #686868;
$medium-grey-color: #f5f5f5;
$medium-grey-color-2: #eee;

$white-color: #fff;

$black-color: #000;

$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// other colors

// $light-blue-color: #2998ff;
// $dark-blue-color: #5643fa;

// $dark-green-color: #067d68;
