.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    /* margin-right: 6rem; */
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black-color, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($black-color, 0.2);
  }

  &--white {
    background-color: $white-color;
    color: $dark-grey-color;

    &::after {
      background-color: $white-color;
    }
  }

  &--green {
    background-color: $primary-light-color;
    color: $white-color;

    &::after {
      background-color: $primary-light-color;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all.4s;
  }

  &--animate {
    animation: moveInFromBottom 1.5s ease-out 0.3s;
    animation-fill-mode: backwards;
  }
}

.text-button {
  &:link,
  &:visited {
    color: $primary-light-color;
    display: inline-block;
    text-decoration: none;
    border: 2px solid $primary-light-color;
    padding: 5px;
    font-size: 1.5rem;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      to right,
      rgba($primary-dark-color, 0.7),
      rgba($primary-light-color, 0.9)
    );
    color: $white-color;
    box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($black-color, 0.2);
  }
}
