*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond__manager(tab-landscape) {
    font-size: 56.25%;
  }

  @include respond__manager(tab-portrait) {
    font-size: 50%;
  }

  @include respond__manager(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
